.board {
  display: flex;
  flex-direction: column;
  background-color: white;
  gap: 20px;
  width: 230px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 0px 20px 2px rgba(34, 60, 80, 0.2);
  border-radius: 5px;
  color: rgba(74, 74, 74, 1);
  font-size: 13px;
  height: 250px;
}

label {
  cursor: pointer;
}